{% extends "frontend/layout/base.twig" %}

{% block content %}

<script type="text/x-template" id="input-autofit">
    <div>
        <input readonly id="calculated" :style="{
            'width': width + 'px', 
            'font-size': calculatedFontSize + 'px',
            'font-family': fontFamily,
            'text-align': 'center',
            'border': 'none',
            'background': 'none',
            'color': fontColor
        }" ref="fitInput" :value="text">
        <span :style="{
            'font-size': fontSize + 'px',
            'font-family': fontFamily,
            'opacity': 0,
            'pointer-events': 'none'
        }" ref="realInput">${text}</span>
    </div>
</script>


<div id="meme-generator">
    <div id="meme-container">
        <el-upload
          id="meme-image-upload"
          :on-change="handleChange"
          :on-remove="handleRemove"
          multiple>
          <div v-if="imageUrl" id="meme-image" :style="{
            'width': previewMemeWidth + 'px',
            'height': previewMemeHeight + 'px'
          }">
            <img :src="imageUrl" :width="previewImageWidth" :height="previewImageHeight">
          </div>
          <div v-else>
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">Suelta tu archivo aquí o <em>haz clic para cargar</em></div>
              <div slot="tip" class="el-upload__tip">Solo archivos jpg/png con un tamaño menor de 500kb</div>
          </div>
        </el-upload>
        <input-autofit 
          @input="handleTextTop" 
          id="meme-top-text" 
          :font-size="memeFontSize" 
          :width="previewMemeWidth"
          :font-family="fontFamily"
          :text="textTop"
          :font-color="colorTop"
        ></input-autofit>
        <input-autofit 
          @input="handleTextBottom" 
          id="meme-bottom-text" 
          :font-size="memeFontSize" 
          :width="previewMemeWidth"
          :font-family="fontFamily"
          :text="textBottom"
          :font-color="colorBottom"
        ></input-autofit>
        
    </div>
    <div>
      <div style="float:left; width:100%">
        <input v-model="textTop">
        <el-color-picker v-model="colorTop"></el-color-picker>
      </div>
      <div style="float:left; width:100%">
        <input v-model="textBottom">
        <el-color-picker v-model="colorBottom"></el-color-picker>
      </div>
      <button @click="generateMeme">genera meme</button>
    </div>

    <div id="meme-final">
      <div id="meme-image-for-screenshot" v-if="imageUrl">
        <img v-if="imageUrl" :src="imageUrl" :width="finalImageWidth" :height="finalImageHeight">
        <input id="top-text" :style="{
          'font-size': topFontSize + 'px',
          'width': finalImageWidth + 'px',
          'text-align': 'center',
          'font-family': fontFamily,
          'border': 'none',
          'background': 'none',
          'pointer-events': 'none',
          'color': colorTop
        }" :value="textTop">
        <input id="bottom-text" :style="{
          'font-size': bottomFontSize + 'px',
          'width': finalImageWidth + 'px',
          'text-align': 'center',
          'font-family': fontFamily,
          'border': 'none',
          'background': 'none',
          'pointer-events': 'none',
          'color': colorBottom
        }" :value="textBottom">
      </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="assets/js/html2canvas.min.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
{% endblock %}
