body{
    
}

#meme-generator #meme-container{
    position: relative;
}

#meme-generator #image #meme-text-bottom{
    width: 200px;
}

#meme-generator #meme-image-upload{
    width: 200px;
    height: 200px;   
}
#meme-generator #meme-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
#meme-generator #meme-image-for-screenshot{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#meme-generator #meme-image-for-screenshot #bottom-text{
    position: absolute;
    bottom: 0;
}

#meme-generator #meme-image-for-screenshot #top-text{
    position: absolute;
    top: 0;

}

#meme-generator #meme-bottom-text{
    position: absolute;
    bottom: 0;
}

#meme-generator #meme-top-text{
    position: absolute;
    top: 0;
}

#meme-final{
    position: absolute;
    left: -2000px;
}