<!--PAGE: HOME -->
<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Promo Ritz</title>
<link href="<?php echo base_url() ?>assets/css/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" >
<meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">

<meta name="robots" content="index, follow" />
<!-- <meta content="Conoce nuestra línea de escritura fina para encontrar el regalo perfecto para esa persona tan especial. Sólo cuéntanos un poco sobre lo que buscas y te damos la mejor recomendación" name="description" />


<meta property="og:title" content="Faber-Castell - Su Regalo Perfecto" />
<meta property="og:description" content="Conoce nuestra línea de escritura fina para encontrar el regalo perfecto para esa persona tan especial. Sólo cuéntanos un poco sobre lo que buscas y te damos la mejor recomendación" />
<meta property="og:url" content="http://www.suregaloperfecto.com" />
<meta property="og:image" content="<?php echo base_url() ?>assets/images/fabercastell_facebook.jpg" /> -->

<link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css">
{{ css_minified | raw }}

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<![endif]-->


<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112403330-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112403330-1');
</script> -->

</head>
<body>

{% block content %}
{% endblock %}


<script>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.4/vue.min.js"></script>
<script src="https://unpkg.com/element-ui@2.5.1/lib/index.js"></script>

{% block extra_js %}
{% endblock %}

{{ js_minified | raw }}


</body>

<!--FOOTER -->
<footer class="footer">
</footer>